.html-submit-button{
        border-width: 0px;
        background-color:chartreuse;
        border-radius: 50px;
        font-weight: bolder;
        color: yellow;
        font-size: large;
        width: 125px;
        height: 35px;
        font-family:Palatino Linotype;
    }
    .html-submit-button:hover{
        background-color: cyan;
        cursor: pointer;
        color: purple;
    }
    .html-submit-button:active{
        background-color: orange;
        cursor: pointer;
        color: yellow;
    }
    .html-linear-gradient{
        background: linear-gradient(#78075a 0%, #ca680c 100%);
        border-radius: 50px;
        border-width: 0px;
        font-weight: bolder;
        color: yellow;
        font-size: large;
        width: 125px;
        height: 35px;
        font-family:Palatino Linotype;
    }
    .html-linear-gradient:hover{
        background:linear-gradient(#0cbeca 0%,#78075a 100%);
        cursor: pointer;
        color:red;
    }
    .html-size{
        background:rgb(228, 207, 20);
        border-width: 0px;
        color:rgb(214, 119, 64);
        font-weight: bolder;
        width: 125px;
        height: 35px;
        font-size:xx-medium;
        font-weight: bolder;
    }
    .html-size:hover{
        width:128px;
        height: 40px;
        font-size: medium;
        border-radius: 50px;
    }
    .html-horizontal-linear-gradient{
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  border-width: 0px;
  font-weight: bolder;
  width: 125px;
  height: 35px;
  font-size: medium;
    }
    .html-horizontal-linear-gradient:hover{
        background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
    }
    .html-light-dark{
        border-width: 2px;
        border-color: black;
        background-color: white;
        font-weight: bolder;
        color: black;
        font-size: large;
        width: 125px;
        height: 35px;
    }
    .html-light-dark:hover{
        color: white;
        background-color: black;
    }
    .html-linear-gradient-border{
        width: 125px;
  height: 35px;
  font-size: large;
    color: white;
    background-color: black;
    border-width: 0px;
    font-weight: bolder;
    }
    .html-linear-gradient-border:hover{
        border: 3px solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    }
